body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  width: 100%;
  height: 500px;
  background-image: url("../img/fondologineste.jpg");

  background-size: cover;
  background-attachment: fixed;
}
* {
  box-sizing: border-box;
}
.logo {
  position: relative;
  top: 5px; /* ajustar los valores para mover la imagen */
  left: 30px;
  width: 30%;
  float: left;

  /* border-radius: 50%; */
  /* margin: 30%; */
  /* border: 2px solid #fff; */
  /* display: block; */
}
.contenedor {
  width: 100%;
  padding: 20px;
  max-width: 800px;
}
.ape {
  float: right;
}
.formulario {
  background: #fff;
  margin-top: 50px;
  padding: 3px;
  border: 2px solid rgba(8, 3, 3, 0.925);
}
h1 {
  text-align: center;
  color: #1a2537;
  font-size: 40px;
}
input[type="text"],
input[type="password"] {
  font-size: 20px;
  width: 82%;
  padding: 10px;
  border: none;
}
.input-contenedor {
  margin-bottom: 15px;
  border: 1px solid #aaa;
}
.input-contenedor select {
  margin-bottom: 15px;
  border: 1px solid #aaa;
  width: 100%;
  font-size: 1.1rem;
}
.Genero {
  margin-bottom: 15px;
}
.icon {
  min-width: 50px;
  text-align: center;
  color: #999;
}
.button {
  border: none;
  width: 100%;
  color: white;
  font-size: 20px;
  background: #1a2537;
  padding: 15px 20px;
  border-radius: 5px;
  cursor: pointer;
}
.button:hover {
  background: cadetblue;
}
p {
  text-align: center;
}
.link {
  text-decoration: none;
  color: #1a2537;
  font-weight: 600;
}
.link:hover {
  color: cadetblue;
}
@media (min-width: 768px) {
  .formulario {
    margin: auto;
    width: 500px;
    margin-top: 80px;
    border-radius: 2%;
  }
}

.wave {
  position: absolute;
  bottom: 0;
  width: 100%;
}
.container {
  width: 12%;
  margin: auto;
}
#menu ul {
  display: flex;
  /* padding: 0;
  margin: 0; */
  list-style: none;
  text-align: right;
  padding: 15px 50px 0 500px;
}
#menu a {
  display: block;
  padding: 12px;
  background-color: black;
  text-decoration: none;
  color: white;
}
#menu a:hover {
  background-color: gray;
}
#menu ul li ul {
  display: none;
}

#menu ul li a:hover + ul {
  display: block;
}

#menu ul li ul:hover {
  display: block;
}
