{% extends "menu.html" %}

{% block content %}

<style>
.centrar-listas {
	text-align: center;
}

.centrar-listas ul {
	text-align: left;
	display: inline-block;
    list-style-type: none;
}
.centrar-listas li{
    margin-top: 10px;

}

.centrar-listas button {
    background-color: #e7e7e7; 
    color: black;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px
} /* Gray */
.centrar-listas button p{
    color : black;

}
</style>



<div class="centrar-listas">
    <form action="" method="GET">
            {% csrf_token %}
        <select id="subastas" multiple="multiple">
            {% for subasta in subastas %}
            <option value="1">{{subasta.nombre}} </option>
            {% endfor %}
        </select>
    </form>
</div>


{% endblock %}